<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">
      <a class="title">{{ artist }}</a>

      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          {% for song in songs_list %}
          {% if md_to_Song(song, 0).artist == artist %}
          <tr>
            <td>
              <a href="{{ url_for('page_song', song = song, newtune=0)}}">{{ md_to_Song(song, 0).name }}</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

  </section>
</body>