<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">
      
      <div class="columns">

        <div class="column is-two-thirds">
          <p class="title is-2">{{ artist }}</p>
        </div>

        <div class="column is-one-third">
          <div class="buttons is-right">
            <a class="button is-primary is-right" href="{{ url_for('page_index') }}">All Songs</a>
          </div>
        </div>
      </div>

      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          {% for song in songs_list %}
          {% if md_to_Song(song, 0).artist == artist %}
          <tr>
            <td>
              <a href="{{ url_for('page_song', song = song, newtune=0)}}">{{ md_to_Song(song, 0).name }}</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

  </section>
</body>