<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">

      <div class="columns">

        <div class="column is-two-thirds">
          <a class="title">Chords</a>
        </div>

        <div class="column is-one-third">
          <nav class="navbar-end" role="navigation" aria-label="main navigation">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                About
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ url_for('about') }}">How this page works</a>
              </div>
            </div>
          </nav>
        </div>
      </div>





      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
          </tr>
        </thead>

        <tbody>
          {% for song in songs_list %}
          <tr>
            <td>
              <a href="{{ url_for('page_song', song = song, newtune=md_to_Song(song, 0).tune)}}">{{ md_to_Song(song,
                0).name }}</a>
            </td>
            <td>
              <a href="{{ url_for('page_artist', artist = to_underscore(md_to_Song(song, 0).artist))}}">{{
                md_to_Song(song, 0).artist }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  </section>
</body>