<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">

      <div class="columns">

        <div class="column is-two-thirds">
          <p class="title is-2">{{ song.name }}</p>
          <p class="subtitle is-4">{{ song.artist }} <br> Tune: {{ song.tune }}</p>
        </div>

        <div class="column is-one-third">
          <div class="buttons is-right">
            <a class="button is-secondary"
              href="{{ url_for('page_song', song = song.filename, newtune = sum_tunes(song.tune, -1)) }}">-1</a>
            <a class="button is-secondary"
              href="{{ url_for('page_song', song = song.filename, newtune = sum_tunes(song.tune, +1)) }}">+1</a>
            <a class="button is-primary" href="{{ url_for('page_index') }}">All Songs</a>
          </div>
        </div>
      </div>

      <div class="content is-small"><p>{{ song.song_html|safe }}</p></div>

    </div>
  </section>
</body>
</html>